.product-list {
    max-width: 90%;
    margin: 20px auto 0;
    padding: 0 5px;
    border: 1px solid #ff0095;
    
}

.product {
    display: flex;
    flex-direction: row;
    border: 1px solid #d9ff00;
    max-width: 600px;
    
}

/* ////////////////////// */

#produtos{
    float: left;
    left: 50%;
    border-radius: 8px;
    width: 70%;
}
.produto{
    width: 31%;
    height: 450px;
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    float: left;
    margin-left: 10px;
}
.produto img{
    width: 90%;
    margin: 12px;
}
.produto h1{
    font-size: 17px;
    margin: 8px;

}
.produto p{
    margin: 8px;
}
.produto h2{
    margin: 10px;
    font-size: 17px;
}



.flex {
    display: flex;
    border: 1px solid #d9ff00;
}

.flex-wrap {
    flex-wrap: wrap;   
}

.flex-item-1 {
	flex: 1;
}

/* Flex Item */
.item {
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

.container {
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
}
