header#main-header {
    width: 100%;
    height: 80px;
    background: #2ecc71;
    font-size: 38px;
    font-weight: bolder;
    color: #e1f2e6;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
